@import 'vars';
html{
	width: 100%;
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
h1, h2, h3, h4{
	text-align: center;
	&.white-titling{
		font-weight: 600;
		text-shadow: 3px 3px 2px #000000;
		color: $color-light;
	}
}
h1{
	font-size: $h1-size;
}
h2{
	font-size: $h2-size;
}
h3{
	font-size: $h3-size;
}
h4{
	font-size: $h4-size;
}
hr{
	border-bottom: 1px solid white;
	&.short-hr{
		width: 400px;
	}
}
// ===========================Navigation===========================//

.container-fluid{
	margin: 0;
	padding: 50px 0;
	width: 100%;
	height: 100%;
}
.row{
	padding: 0 5%;
	margin: 0;
	width: 100%;
	height: 100%;

	&>div{
		width: 100%;
		height: 100%;
	}
}
.navbar{
	background-color: $color-darkest;
	
	#logo{
		font-size: 24px;
		color: $color-light;
	}
	.nav{
		float: right;
		font-size: 20px;
		li a{
			color: $color-light;
		}
	}
	.container-fluid{
		padding: 0;
	}
}

#intro{
	background: url(../images/main.png) no-repeat center center;
	background-size: cover;

	#intro-contents{
		padding: 20% 0;
		height: 60%;
		ul{
			text-align: center;
		}
		.btn-default{
			width: 160px;
			margin: 20px 40px;
			float: none;
		}
	}
}