// =========================== colors palette ===========================//
$color-darkest: #1f2122;
$color-dark: #496595;
$color-deem: #575c63;
$color-main: #afc0d7;
$color-light: #d6dde8;
$color-lightest: #ffffff;
$color-active: #d4d0af;
$color-active-dark: #C9C6A6;

// =========================== font size ===========================//
$h1-size: 60px;
$h2-size: 40px;
$h3-size: 30px;
$h4-size: 20px;
$h5-size: 16px;